.box{
    background-color: rgb(255, 174, 0);
    padding:7px;
    border-radius: 5px;
}

.circle{
    background-color:rgb(255, 174, 0);
    border-radius:50%;
    height:45px;
    width:45px;
    display:inline-block;
}

.circleimg{
    background-color:rgb(216, 216, 216);
    border-radius:50%;
    height:180px;
    width:180px;
    /* display:inline-block; */
}